{% load i18n %}
<div class="box profile-content light-box">
    {% with player.get_stats.rank as rank %}
    <h1 class="{% if rank %}extra rank{{ player.get_stats.rank }}{% endif %}" >
        <span class="username">{{ player.user }}</span>
    </h1>
    {% endwith %}
    <div class="box-content">
        {% if player.avatar_url %}<img class="avatar" src="{{ player.avatar_url }}" alt=""/>{% endif %}
    <table class="info">
        <tr><th>Character name</th><td class="ch_name">{{ player.character_name }}</td></tr>
        <tr><th>Character code</th><td class="ch_code">{{ player.character_code }}</td></tr>
        {% if player.bnet_url %}
        <tr><th>BattleNet profile</th><td><a href="{{ player.bnet_url }}" target="_blank">{{ player.bnet_url }}</a></td></tr>
        {% endif %}
        {% if player.contact %}
        <tr><th>{% trans "Contact" %}</th><td>{{ player.contact|urlize }}</td></tr>
        {% endif %}
    </table>
    {% if tournaments.ongoing %}
    <h2>{% trans "Currently playing in" %}:</h2>
    <table class="tournaments ongoing">
        {% for tournament, rank in tournaments.ongoing %}
        <tr><th><a href="{{ tournament.get_absolute_url }}">{{ tournament }}</a></th><td class="rank">Rank <span>{{ rank }}</span></td></tr>
        {% endfor %}
    </table>
    {% endif %}
    {% if tournaments.future %}
    <h2>{% trans "Will be playing in" %}:</h2>
    <table class="tournaments future">
        {% for tournament in tournaments.future %}
        <tr><th><a href="{{ tournament.get_absolute_url }}">{{ tournament }}</a></th></tr>
        {% endfor %}
    </table>
    {% endif %}
    {% if tournaments.past %}
    <h2>{% trans "Played in" %}:</h2>
    <table class="tournaments past">
        {% for tournament, rank in tournaments.past %}
        <tr><th><a href="{{ tournament.get_absolute_url }}">{{ tournament }}</a></th>{% if rank %}<td class="rank">Placed <span class="placed{{ rank }}">{{ rank }}.</span></td>{% endif %}</tr>
        {% endfor %}
    </table>
    {% endif %}
    </div>
</div>
