{% load i18n %}
<div class="box replays-content light-box">
    <h1>
        <span class="players">{{ match.player1.user }} vs {{ match.player2.user }}</span>
        <span class="tournament">— <a href="{{ match.round.get_absolute_url }}">{{ match.round.tournament }}: {{ match.round }}</a></span>
    </h1>
    <div class="box-content">
        <ul class="replay-list">
        {% for replay in match.replays %}
            <li class="replay">
                <a data-id="{{ replay.id }}" {% if user == replay.uploaded_by %}class="deletable"{% endif %} href="{{ replay.file.url }}">{{ replay }}</a>
            </li>
        {% empty %}
            <li class="empty">{% trans "No replays were uploaded for this match yet." %}</li>
        {% endfor %}
        </ul>
        {% if not user.is_authenticated %}
        <div class="login-to-upload">
            <a href="{% url tms:login %}?next={{ request.path }}">{% trans "Log in" %}</a> {% trans "to upload replays." %}
        </div>
        {% endif %}
        {% if user.get_profile in match %}
        <div class="upload-wrap">
            <div class="upload-button-wrap">
                <div class="centering-wrap">
                    <div class="upload-button-display">{% trans "Upload replays" %}</div>
                </div>
                <div class="centering-wrap">
                    <div id="upload-button"></div>
                </div>
            </div>
            <p class="hint">{% trans "PROTIP: You can select multiple files at once." %}</p>
            <div id="upload-queue"></div>
        </div>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.confirmedpost.js"></script>
        <script type="text/javascript">
        $(function(){

            function updateReplayCount() {
                // update page if this is opened in lightbox
                var count = $('.replay-list .replay').size();
                $('.match[data-id="{{ match.id }}"] .replays span a')
                    .text('{% trans "Replays" %} ('+ count +')');
            }

            function initDeletable() {
                $('.replay-list .replay .deletable').confirmedPost({
                    url: '{% url tms:delete_replay %}',
                    getData: function() {
                        return {id: $(this).attr('data-id')}
                    },
                    onComplete: function() {
                        $(this).closest('.replay').remove();
                        updateReplayCount();
                    },
                    buttonClass: 'delete-button',
                    yesNoClass: 'fake-link'
                });
            }

            var SESSION_KEY = '{{ session_key }}';
            var buttonDisplay = $('.upload-button-display');
            $('#upload-button').uploadify({
                'uploader': MEDIA_URL + 'js/uploadify/uploadify.swf',
                'script': '{% url tms:upload_replay id=match.id %}',
                'cancelImg': MEDIA_URL + 'img/cancel.png',
                'scriptData': {session_key: SESSION_KEY},
                'fileDataName': 'file',
                'buttonText': '{% trans "Upload replays" %}',
                'multi': true,
                'auto': true,
                'fileExt': '*.SC2Replay',
                'fileDesc': 'StarCraft2 Replays',
                'hideButton': true,
                'wmode': 'transparent',
                'queueID': 'upload-queue',
                'width': 140,
                'height': 35,
                'onOpen': function(){ buttonDisplay.addClass('loading') },
                'onAllComplete': function(){
                    $.get('{% url tms:match_replays id=match.id %}', {} , function(html){
                        $('.replay-list').remove();
                        $(html).find('.replay-list').prependTo('.replays-content .box-content');
                        buttonDisplay.removeClass('loading');
                        updateReplayCount();
                        initDeletable();
                    }, 'html')
                }
            });

            initDeletable();
        });
        </script>
        {% endif %}
    </div>
</div>
