{% extends 'tms/includes/tournaments_ongoing.html' %}

{% load i18n %}

{% block extra-info %}
<div class="current-info">
     {{ tournament.last_round.time_info }}
</div>
{% endblock %}

{% block after-link %}
<div class="ranking">
    <ul>
    {% for place, players in tournament.get_final_placing %}
        <li class="place{{ place }}"><span class="place">{{ place }}.</span>
            {% for player in players %}
                <a class="lightbox" href="{{ player.get_absolute_url }}">{{ player.user }}</a>{% if not forloop.last %},{% endif %}
            {% endfor %}
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}

{% block empty %}{% trans "No past tournaments..." %}{% endblock %}
