{% extends 'tms/tournament/index.html' %}

{% load i18n form_tags %}

{% block title %}{{ tournament.name }} > {% trans "Join" %} {% endblock %}

{% block box-content %}

<h2>{{ match.round.description }}</h2>

{% if message %}
<div class="message">{{ message }}</div>
{% else %}
<form method="post" action="">
    {% csrf_token %}
    {% block text %}
    <p>{% trans "Click this button to join the tournament." %}</p>
    {% endblock %}
    <div class="submit-row">
        <input type="submit" value="{% block button-text %}{% trans 'Join' %} {{ tournament.name }}{% endblock %}" />
    </div>
</form>
{% endif %}

{% endblock %}
