{% extends 'tms/tournament/index.html' %}

{% load i18n cache %}

{% block title %}{{ tournament.name }} > {% trans "Rounds" %} > {{ selected_round.description }}{% endblock %}

{% block box-content %}
{% cache 90000000 rounds tournament.id selected_round %}
<ul class="rounds">
    {% for round in tournament.rounds %}
    <li class="round {% if round == selected_round %}selected{% endif %} {{ round.status }}">
        <h4><a href="{{ round.get_absolute_url }}">
            <span class="desc">{{ round.description }}</span>
            <span class="dates">{{ round.start|date:"d. m." }} &ndash; {{ round.end|date:"d. m." }}</span>
            {% if round.first_map %}<span class="map"><span>@</span> {{ round.first_map }}{% endif %}
            <span class="timeinfo">{{ round.time_info }}</span>

        </a></h4>
        {% if round == selected_round %}
        <div class="round-content">
            {% if round.matches %}
            <table>
                <tbody>
                {% for match in round.matches %}
                    <tr class="user-{{ match.player1.user }} user-{{ match.player2.user }} {% if match.finished %}finished{% endif %}">
                        <td class="player player1 {% if match.player1 == match.winner %}winner{% endif %}">
                            <a class="lightbox" href="{{ match.player1.get_absolute_url }}">{{ match.player1.user }}</a>
                        </td>
                        <td class="score">{{ match.player1_score }}</td>
                        <td class="colon">:</td>
                        <td class="score">{{ match.player2_score }}</td>
                        <td class="player {% if match.player2 == match.winner %}winner{% endif %}">
                            <a class="lightbox" href="{{ match.player2.get_absolute_url }}">{{ match.player2.user }}</a>
                        </td>
                        <td class="replays {% if match.replays.count == 0 %}empty{% endif %}">
                            <a class="lightbox" href="{% url tms:match_replays id=match.id %}">{% trans "Replays" %} ({{ match.replays.count }})</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p class="empty">{% trans "To be announced" %}</p>
            {% endif %}
        </div>
        {% endif %}
    </li>
    {% empty %}
    <li class="empty">{% trans "To be announced" %}</li>
    {% endfor %}
</ul>
{% endcache %}
{% endblock %}

{% block js %}
{{ block.super }}
{% if user.is_authenticated %}
<script type="text/javascript">
var myMatch = $('.rounds table').find('tr.user-{{ user.username }}');
myMatch.addClass('me');
if (myMatch.is('.finished')) {
    myMatch.find('.empty.replays a').text('{% trans "Upload replays!" %}');
}
</script>
{% endif %}
{% endblock %}
