{% load i18n %}
{% if user.is_authenticated %}
<span class="info">{% trans "You are logged in as" %} <strong><a class="lightbox" href="{{ user.get_profile.get_absolute_url }}">{{ user.username }}</a></strong></span>
<nav>
    {% if user.is_manager or user.is_superuser %}
    <a href="{% url admin:index %}">{% trans "Administration" %}</a>
    {% endif %}
    {% if user.get_profile %}
    <a href="{% url admin:tms_player_change user.get_profile.id %}">{% trans "Edit profile" %}</a>
    {% endif %}
    <a href="{% url tms:logout %}">{% trans "Log out" %}</a>
</nav>
{% else %}
<nav>
    <a href="{% url tms:login %}?next={{ request.path }}">{% trans "Log in" %}</a>
    {% trans "or" %}
    <a href="{% url tms:registration %}">{% trans "Sign up" %}</a>
</nav>
{% endif %}
