{% extends 'tms/base.html' %}

{% load i18n %}

{% block title %}Welcome{% endblock %}

{% block content %}
<hgroup class="h1 index">
    <small>{% trans "Welcome to" %}</small>
    <h1>
        <strong>Nyx StarCraft 2 League</strong>
        <small>{% trans "Tournament Management System" %}</small>
    </h1>
</hgroup>

<div class="content-wrap index">
    <section class="tournaments">

        <div class="box newstyle-tournaments">
            <hgroup><h3>{% trans "New-style tournaments" %}</h3></hgroup>
            <div class="box-content">
            {% for tournament in newstyle_tournaments %}
                <a href="{{ tournament.get_absolute_url }}">{{ tournament.name }}</a>
            {% endfor %}
            </div>
        </div>

        <div class="box ongoing-tournaments">
            <hgroup><h3>{% trans "Ongoing tournaments" %}</h3></hgroup>
            {% with tournaments.ongoing as tournaments %}
                {% include 'tms/includes/tournaments_ongoing.html' %}
            {% endwith %}
        </div>

        <div class="box future-tournaments">
            <hgroup><h3>{% trans "Future tournaments" %}</h3></hgroup>
            {% with tournaments.future as tournaments %}
                {% include 'tms/includes/tournaments_future.html' %}
            {% endwith %}
        </div>

        <div class="box past-tournaments">
            <hgroup><h3>{% trans "Past tournaments" %}</h3></hgroup>
            {% with tournaments.past as tournaments %}
                {% include 'tms/includes/tournaments_past.html' %}
            {% endwith %}
        </div>
    </section>

    <section>
        {% comment %}
        <div class="box announcements">
            <hgroup><h3>{% trans "Announcements" %}</h3></hgroup>
            <div class="box-content">
                The system is in pre-alpha stage. Some things don't work yet and you may encounter some bugs.
            </div>
        </div>
        {% endcomment %}
        <div class="box">
            <hgroup><h3>{% trans "FAQ" %}</h3></hgroup>
            <div class="box-content">
                <p>Feeling <strong>confused?</strong></p>
                <br/>
                <p>Check out <a href="{% url pages:page slug='faq' %}"><strong>Frequently&nbsp;Asked&nbsp;Questions</strong></a>!</p>
            </div>
        </div>

        <div class="box">
            <hgroup><h3>{% trans "Development" %}</h3></hgroup>
            <div class="box-content">
                <p><strong><a href="https://github.com/0101/sctms">SCTMS on GitHub</a></strong></p>
                <br/>
                <p><strong><a href="https://www.pivotaltracker.com/projects/178799">SCTMS on Pivotal Tracker</a></strong></p>

            </div>
        </div>

        {% comment %}
        <div class="box irc">
            <hgroup><h3>{% trans "IRC" %}</h3></hgroup>
            <div class="box-content">
                <span>{% trans "To join the chat" %}:</span><br/>
                <a href="{% url tms:irc %}" target="_blank">{% trans "Use the <strong>web client</strong>" %}</a>
                <span>{% trans "or" %}</span>
                <a href="irc://irc.quakenet.org/nyxsc2league">{% trans "open this link with <strong>your IRC client</strong>" %}</a>
            </div>
        </div>
        {% endcomment %}
    </section>
</div>
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
$.multiHover.auto();
</script>
{% endblock %}
