{% extends 'tms/base.html' %}

{% load i18n %}

{% block title %}IRC{% endblock %}

{% block content %}
<hgroup class="h1">
    <span class="breadcrumbs"><a href="/">{% trans "Home" %}</a> > </span><h1>IRC: <a href="irc://irc.quakenet.org/NSL">#NSL on QuakeNet</a></h1>
</hgroup>

<div class="content-wrap tournament">
    <div class="box">
        <hgroup><h3>{% trans "Web client" %}</h3></hgroup>
        <iframe src="http://webchat.quakenet.org/?nick={{ user.username|lower }}&channels=NSL&prompt=1&uio=d4" width="918" height="600"></iframe>
    </div>
</div>
{% endblock %}
