{% extends 'cms/index.html' %}

{% load i18n form_tags %}

{% block title %}{{ entry.title }}{%endblock%}

{% block content %}

<hgroup class="h1">
    <h1>Komentář k článku "{{ entry.title }}"</h1>
</hgroup>



<div class="content-wrap" id="cms-entry-detail">


            {% if user.username %}
    <div class="box">
        <div class="login-option password-login">
            <div class="box-content">
                
                <form id="login-form" method="post" action="">
                    {% csrf_token %}
                    <fieldset>
                        {% field form.title %}
                        {% field form.text %}
                    </fieldset>
                    <div class="submit-row">
                        <input class="button" type="submit" value="{% trans 'Poslat komentář' %}" />
                    </div>
                </form>

            </div>
        </div>
    </div>
            
            {% else %}
                <div class="empty">Pro přidání komentáře je třeba se přihlásit.</div>
            {% endif %}

</div>
{%endblock%}
