{% extends 'cms/index.html' %}

{% block title %}{{ entry.title }}{%endblock%}

{% block content %}

<hgroup class="h1">
    <h1>{{ entry.title }}</h1>
</hgroup>

<div class="content-wrap" id="cms-entry-detail">
    <div class="box cms-entry">
        <div class="meta">
            <div class="tags">{{ entry.tags }}</div>
            <div class="details">{{ entry.author }}, {{ entry.date }}</div>
        </div>
        <div class="box-content clearfix">

            <div class="content">
            {{ entry.text|safe }}
            </div>
            <div class="hits">{{ entry.hits }} hits, {{ entry.comments }} comments</div>
            <div class="back-to-index">
                <a href="{% url cms:index %}">Zpět na seznam článků</a> | <a href="{{ entry.get_absolute_url}}add_comment/">Přidat komentář</a>
            </div>
        </div>
        
        {% if comment_entry_list %}
            <ul id="cms-comments">
            {% for commentzor in comment_entry_list %}
                <li>
                    <div class="title">
                        <span class="details"> # {{ commentzor.number }}</span> {{ commentzor.title|striptags|truncatewords:50 }} <span class="details"> by {{ commentzor.author }}, {{ commentzor.date }}</span>
                    </div>
                    <div class="comment">
                        {{ commentzor.text|striptags|linebreaks }}
                    </div>
                </li>
            {% endfor %}
            </ul>
            <span><a name="end"></a></span>
        {% endif %}

    </div>
</div>
{%endblock%}
