{% extends 'base.html' %}


{% block content %}

<div class="content-wrap index">
    <div class="box" id="cms-news">
        <hgroup><h3>{{ entry.title }}</h3></hgroup>            
        <ul>
            <li>
                <div class="cms-entry">
                    <div class="cms-entry-tags">{{ entry.tags }}</div>
                    <div class="cms-entry-details">{{ entry.author }}, {{ entry.date }}</div>
                    <div class="cms-entry-highlight">{{ entry.highlight }}</div>
                    {{ entry.text }}
                    <div class="cms-entry-tags cms-entry-details">{{ entry.hits }} hits</div>
                </div>
            </li>
        </ul>
    </div>
</div>
{%endblock%}