{% extends 'base.html' %}


{% block content %}

<div class="content-wrap index">
    <div class="box" id="cms-news">
        <hgroup><h3>Latest news</h3></hgroup>
        {% if latest_entry_list %}
            <ul>
            {% for entry in latest_entry_list %}
                <li>
                    <a href="/cms/{{ entry.slug }}/detail/"><hgroup class="cms-news-hgroup"><h4>{{ entry.title }}</h4></hgroup></a>
                    <div class="cms-entry">
                        <div class="cms-entry-tags">{{entry.tags}}</div>
                        <div class="cms-entry-details">{{entry.author}}, {{entry.date}}</div>
                        {{entry.text|truncatewords_html:69}}
                        <div class="cms-entry-tags cms-entry-details">{{entry.hits}} hits</div>
                    </div>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No entries are available.</p>
        {% endif %}
    </div>
</div>
{%endblock%}