{% load i18n %}
{% spaceless %}
{% if user.is_authenticated %}
    {% if user.get_profile.avatar_url %}
    <div class="avatar"><div class="img" style="background-image:url('{{ user.get_profile.avatar_url }}')"></div></div>
    {% endif %}
    <div class="controls logged_in">
        <div class="info">
            <strong><a class="lightbox" href="{{ domains.tms }}{{ user.get_profile.get_absolute_url }}">{{ user.username }}</a></strong>
        </div>
        <nav>
            {% if user.is_manager or user.is_superuser %}
            <a href="{{ domains.admin }}{% url admin:index %}">{% trans "Administration" %}</a>
            {% endif %}

            {% if user.get_profile %}
            <a href="{{ domains.admin }}{% url admin:tms_player_change user.get_profile.id %}">{% trans "Edit profile" %}</a>
            {% endif %}
            <a href="{{ domains.tms }}{% url tms:logout %}">{% trans "Log out" %}</a>
        </nav>
    </div>
{% else %}
    <nav class="not_logged_in">
        <a href="{{ domains.tms }}{% url tms:login %}?next=http://{{ request.get_host }}{{ request.path }}">{% trans "Log in" %}</a>
        {% trans "or" %}
        <a href="{{ domains.tms }}{% url tms:registration %}">{% trans "Sign up" %}</a>
    </nav>
{% endif %}
{% endspaceless %}
