
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
header, section, article, nav, aside, footer, hgroup, figure, figcaption {
	border: 0; margin: 0; padding: 0; vertical-align: baseline; font-weight: inherit;
	font-style: inherit; font-size: 100%; font-family: inherit; cursor:default;}

table {border-collapse: collapse; border-spacing: 0;}
caption, th, td {text-align: left; font-weight: normal;}

blockquote:before, blockquote:after,
q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}

li {list-style-type: none;}

input, select {
	margin: 0; font-family: "Segoe UI", "Lucida Grande", "Trebuchet MS", sans-serif;
	font-size: 14px; color: #3f3f3f;}

a, .fake-link {text-decoration: none; color: #7DBBF2; outline:none; cursor:pointer;}
a * {cursor:pointer;}
a:hover, a:active, a:focus, a.hover,
.fake-link:hover, .fake-link:active, .fake-link:focus, .fake-link.hover {color: #FFD13A;}
a.alt, .alt a {text-decoration: underline;}
.alt a:hover, .alt a:active, .alt a:focus, a.alt:hover, a.alt:active, a.alt:focus {text-decoration: none;}
a img {border: none;}

.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}

strong, b {font-weight: bold;}
em, i {font-style: italic;}

h1, h2, h3, h4 {font-weight: normal;}

header, section, article, nav, aside, footer, hgroup, figure, figcaption {display: block;}

body {
	font-family:"Segoe UI", "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif;
	color:#aaa;	font-size:14px;
	background:#0b0b0b url('../img/gradientbg.png') center 100px no-repeat;}

header.top {background:#000 url('../img/header.jpg') center top no-repeat;}
header.top .logo {height:114px;text-indent:9000px;display:block;width:300px;overflow:hidden;margin:0 auto;}
header.top .logo:hover {text-shadow:0 0 7px #D69F20, 1px 1px 2px #F6FF4F;color:#1C1606;}
header.top .content {width:920px;margin:0 auto;position:relative;}

header.top .main_menu {border-bottom:1px solid #333;}
header.top .main_menu nav {width:920px;margin:0 auto;text-align:center;}
header.top .main_menu nav a {
    padding:6px 10px;display:inline-block;font-size:17px;font-weight:bold;
	width:7em;text-align:center;margin:0 3px;border-bottom:5px solid #333;}
header.top .main_menu nav a span {color:#fff; opacity:.35;}

header.top .main_menu nav a.selected {background:rgba(255, 255, 255, .08);border-bottom-color:#999;}
header.top .main_menu nav a.selected span {color:#d6d6d6;opacity:1;}

header.top .main_menu nav a:hover,
header.top .main_menu nav a:active,
header.top .main_menu nav a:focus,
header.top .main_menu nav a.loading {border-bottom-color:#B29029;background:rgba(255, 209, 58, .08);}
header.top .main_menu nav a:hover span,
header.top .main_menu nav a:active span,
header.top .main_menu nav a:focus span,
header.top .main_menu nav a.loading span {opacity:1;color:#FFD13A;}

header.top .main_menu nav a.loading {background:rgba(255, 209, 58, .08) url('../img/static.gif');}
header.top .main_menu nav a.loading span {opacity:.5;}

section.user {
    position:absolute;right:0;top:0px;background:rgba(65, 65, 65, 0.5);padding:3px;border:1px solid #434343;
	-moz-box-shadow:0 0 15px #3A5770;
	-webkit-box-shadow:0 0 15px #3A5770;
	box-shadow:0 0 15px #3A5770;}
section.user .avatar {float:left;}
section.user .avatar .img {width:40px; height:50px;border:2px solid #000;opacity:.8;}
section.user .controls {float:left;}
section.user .info {padding:4px 0;margin:0 7px;}
section.user nav {display:inline;}
section.user nav.not_logged_in {display:inline;padding:0 5px;}
section.user nav a {display:inline-block;padding:4px 7px;}
section.user .logged_in nav a {background:#000;}
section.user .logged_in nav a:hover {background:#1C1606;}

/*
.page-decoration {position:absolute;width:100%;background:url('../img/pagebottom.jpg') repeat-x center bottom;min-height:1300px;padding-bottom:110px;}*/

.content hgroup.h1 {text-align:center;font-size:24px;margin-top:30px;color:#D6D6D6;}
.content hgroup.h1 * {display:inline;}
.content hgroup.h1 small {font-size:17px;color:#999;}
.content hgroup.h1 strong {display:block;font-weight:normal;}
.content hgroup.h1.index {margin:20px auto 40px;}
.content hgroup .breadcrumbs {color: #555;font-size:17px;}
.content hgroup .breadcrumbs a {color: #436482;}
.content hgroup .breadcrumbs a:hover {color: #FFD13A;}

.content .tournament-slogan {
	text-align:center;color:#666;font-family:"Trebuchet MS", "Segoe UI", "Lucida Grande";
	font-style:italic;margin-top:12px;}

.content .content-wrap {width:960px;margin:0 auto;}

.content .index section {width:480px;margin:20px auto;}

.content .box {
	margin:20px;border:1px solid #434343;background:rgba(65, 65, 65, 0.5);
	-moz-box-shadow:0 0 15px #3A5770;
	-webkit-box-shadow:0 0 15px #3A5770;
	box-shadow:0 0 15px #3A5770;}
.content .index .tournaments .box {width:440px;}

.content .box .box-content {padding:25px;}

.content .box hgroup {
	background:#333;padding:7px 10px;font-size:17px;text-shadow:-1px -1px 0 #000;
	border-bottom:1px solid #181818;border-left:8px solid #6d6d6d;}

.box nav {display:block;background:#000000;border-bottom:1px solid #181818;}
.box nav a {display:block;float:left;padding:7px 23px;font-size:17px;border-left:8px solid #253847;}
.box nav a:hover {color: #FFD13A;background:#1C1606;border-color:#B29029;}
.box nav a.selected {color: #aaa;background:#333;border-color:#6d6d6d;text-shadow:-1px -1px 0 #000;}
.box nav a.loading {background:url('../img/loading_bar.gif') repeat-x; color:#FFD13A;border-color:#B29029;}

.box.center-form {width: 400px;margin: 40px auto;}
.login .box {margin-top:100px;width:600px;}
.login .box .login-option {width:300px;float:left;}
.login .box .form-field input {width:238px;}
.login .box .password-login .box-content {border-right:1px solid #393939;}
.login .box .nyx-login a {
	display:block;background:url('../img/nyx.png') no-repeat center bottom;
	height:222px;width:222px;text-align:center;margin-left:36px;}
.login .box .nyx-login a:hover {background-position:center top;}
.login .box .nyx-login a span {display:inline-block;margin-top:99px;text-align:center;font-size:17px;}

.registration .nyx-sign-up {
	background:url('../img/nyx.png') no-repeat -57px -274px rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid #444444;font-size: 17px;line-height: 2;text-align: center;}

form fieldset {margin:0 0 10px 0;}
form .submit-row {/*background:#000;*/text-align:center;}
form .submit-row input {
	border:solid #253847;border-width:0 5px;background:#000;color:#7DBBF2;
	outline:none;font-size:17px;font-weight:bold;padding:5px 10px;cursor:pointer;}
form .submit-row input:hover,
form .submit-row input:focus {color: #FFD13A;background:#1C1606;border-color:#B29029;}
form .submit-row input.loading {color: #FFD13A;background:url('../img/loading_bar.gif') repeat-x;border-color:#B29029;}
form .form-field label {display:block;float:left;margin:3px 0;font-weight:bold;}
form .form-field {margin-bottom:10px;}
form .form-field input,
form .form-field textarea {
	width:337px;border: 1px solid #666;background:#111111;color:#fff;
	line-height:1.5;padding:5px;}
form .form-field input:focus,
form .form-field textarea:focus {border-color: #BF9A2B;background:#1C1606;color:#FFD13A;}
form .form-field .optional {display:block;float:left;padding:5px;font-size:12px;}
form .field-error input {border-color: #D30000;}
form .errormsg {color: #D30000;display:block;clear:left;}

.messages > li {
	display:block;padding:10px 10px;margin: 5px;text-align:center;
	font-size:17px;border: 1px solid #008000;background: #0C1B09;}
.messages li.error {background:#541212;border:1px solid #D30000;}
.messages li.success {background:rgba(0,200,0,0.1);}

.index .tournaments .tournament {margin-bottom:10px;border-bottom:1px solid #383838;padding-bottom:5px;}
.index .tournaments .tournament a {padding:5px;}
.index .tournaments .tournament a.tournament-link {display:block;padding:5px;line-height:1.5;}
.index .tournaments .tournament a.tournament-link:hover {background: #1C1606;}
.index .tournaments .tournament h4 {font-weight:bold;}
.index .tournaments .tournament div {color: #aaa;}
.index .tournaments .tournament .current-info {}
.index .tournaments .tournament .current-info .round {font-weight:bold;}
.index .tournaments .tournament .joined {color:#5DAA5D;font-weight:bold;padding:5px;}
.index .tournaments .create-tournament {font-weight:bold;padding:5px;display:inline-block;margin-bottom:10px;}
.index .tournaments .ongoing-tournaments .map {color:#ddd;}
.index .tournaments .ongoing-tournaments .player-match {padding:0 5px 5px;}
.index .tournaments .ongoing-tournaments .player-match.finished {color:#666;}
.index .tournaments .ongoing-tournaments .player-match a {padding:0;}

.index .past-tournaments .ranking a {padding:0;}
.index .past-tournaments .ranking {background:#090909 no-repeat 293px -19px;border:1px solid #333333;padding:5px 10px;}
.index .past-tournaments .ranking .place {font-weight:bold;}
.index .past-tournaments .ranking .place1 .place {color:gold;text-shadow:0 0 2px gold;}
.index .past-tournaments .ranking .place2 .place {color:#DDDDDD;text-shadow:0 0 2px #DDDDDD;}
.index .past-tournaments .ranking .place3 .place {color:#CD7F32;text-shadow:0 0 2px #CD7F32;}

.index .announcements {
	background:rgba(255,202,58,0.1);
	-moz-box-shadow:0 0 15px #6B5618;
	-webkit-box-shadow:0 0 15px #6B5618;
	box-shadow:0 0 15px #6B5618;}

.index .irc a,
.index .irc span {display:inline-block;padding:2px;}

.content-wrap.editable-page .box-content ,
.tournament .tournament.box .box-content  {padding:15px 70px;}
.content-wrap.editable-page h2 ,
.tournament .tournament.box h2  {font-size:24px;border-bottom:3px solid #666;margin:30px 0 5px;color:#ddd;position:relative;}
.content-wrap.editable-page h2 .icon ,
.tournament .tournament.box h2 .icon  {
	position:absolute;top:-6px;left:-59px;width:50px;height:50px;
	background:url('../img/about-icons.png') no-repeat;opacity:0.85;}
.content-wrap.editable-page h2#rules .icon ,
.tournament .tournament.box h2#rules .icon  {background-position:center top;}
.content-wrap.editable-page h2#prizes .icon ,
.tournament .tournament.box h2#prizes .icon  {background-position:center -51px;}
.content-wrap.editable-page h2#info .icon ,
.tournament .tournament.box h2#info .icon  {background-position:center -102px;}
.content-wrap.editable-page h3 ,
.tournament .tournament.box h3  {color:#666;font-size:17px;font-weight:bold;margin-top:20px;text-shadow:0 0 2px #000;}
.content-wrap.editable-page strong ,
.tournament .tournament.box strong  {color:#ddd;}
.content-wrap.editable-page p ,
.tournament .tournament.box p  {margin-bottom:20px;}
.content-wrap.editable-page li ,
.tournament .tournament.box li  {margin:4px 0;}

.tournament .rounds .round {display:block;}
.tournament .rounds .round h4 a {display:block;padding:5px;font-size:14px;}
.tournament .rounds .round h4 a:hover {background-color: #0C1B09;}
.tournament .rounds .round.selected h4 a {font-size:20px;}
.tournament .rounds .round h4 a .dates {color:#7A7A7A;margin-left:6px;}
.tournament .rounds .round h4 a .timeinfo {color:#aaa;margin-left:6px;}
.tournament .rounds .round.over h4 a .timeinfo {color:#7A7A7A;}
.tournament .rounds .round.in_progress h4 a .timeinfo {color:#BFBF72;}
.tournament .rounds .round h4 a .map {color:#ccc;}
.tournament .rounds .round h4 a .map span {color:#7A7A7A;}
.tournament .rounds .round-content {background:#1E1A1A;border-top:1px solid #000000;border-bottom:1px solid #444;padding:20px;}
.tournament .rounds .round-content table {margin:0px auto;}
.tournament .rounds .round-content table td {background:#111;padding:3px 6px;border-bottom:1px solid #2D2D2D;}
.tournament .rounds .round-content table .finished td {background:transparent;}
.tournament .rounds .round-content table .me td {background:#393939;color:#FFFFFF;}
.tournament .rounds .round-content table .score {font-weight:bold;text-align:center;}
.tournament .rounds .round-content table .finished .score {color:#ddd;}
.tournament .rounds .round-content table .colon {padding:0;font-weight:bold;color:#666;text-align:center;}
.tournament .rounds .round-content table .player1 {text-align:right;}
.tournament .rounds .round-content table .winner {font-weight:bold;text-shadow:0 0 1px #898989;color:#ddd;}
                                         .replays.empty span {opacity:0.5;}
                                         .me.finished .replays.empty span {opacity:1; font-weight:bold;}

.tournament .result_report h2 {font-size:20px; text-align: center; padding:10px;text-shadow:-1px -1px 0 #000000;}
.tournament .result_report fieldset {
	padding:30px 0;background:#1E1A1A;border-bottom:1px solid #444444;
	border-top:1px solid #000000;margin:10px 0;}
.tournament .result_report .player {width:48%; float:left; font-size:36px;}
.tournament .result_report .colon {width:4%; float:left; text-align:center;font-size:36px;}
.tournament .result_report .player1 {text-align:right;}
.tournament .result_report form select {
	font-size:36px;border: 1px solid #666;background:#111111;color:#fff;
	line-height:1.5; text-align:center;}
.tournament .result_report form select:focus {border-color: #BF9A2B;background:#1C1606;color:#FFD13A;}
.tournament .join .box-content,
.tournament .leave .box-content {padding:60px 20px;}
.tournament .join .box-content p,
.tournament .leave .box-content p {text-align:center; font-size:17px; padding:20px;}
.tournament .message {font-size:17px; text-align:center; padding:10px; border:1px solid #333; background:#111;}

.tournament table.ranking {width:100%;}
.tournament table.ranking th {padding:3px; background:#333; font-weight:bold; text-shadow:-1px -1px 0 #000;}
.tournament table.ranking td {padding:3px; border-bottom:1px solid #333; border-top:1px solid #333; vertical-align:middle;}
.tournament table.ranking .rank {text-align:center;font-weight:bold;}
.tournament table.ranking .points,
.tournament table.ranking .buchholz {text-align:center;}
.tournament table.ranking tbody tr:hover td {color:#eee; background:transparent;}
            .tournament_players             tr.hover td {background:#342F21;}
.tournament table.ranking tbody tr.me td {background:#484848;color:#fff;}
.tournament table.ranking .opponent-list {font-size:11px;padding:0px 2px;}
.tournament table.ranking .opponent-list .avatar {
	opacity:.65;position:relative;top:1px;margin-right:1px;max-width:20px;overflow:hidden;
	display:inline-block;padding:1px;}
.tournament table.ranking .me .bye {color:#999;padding:3px 0;}
.tournament table.ranking .bye {color:#666;padding:3px 0;}

.tournament table.ranking .opponent-list .avatar.hover {padding:0; border:1px solid #FFD13A; opacity:1; cursor:pointer;}

.tournament .single-elim.top8 .bracket {
	background:url('../img/se-playoff.png') no-repeat -6px 0; height:580px;
	position:relative;margin-top:35px;}
.tournament .single-elim.top8 .bracket .round {position:absolute;width:178px;text-align:center;}
.tournament .single-elim.top8 .bracket .round .description {
	font-size:17px;font-weight:bold;color:#666;font-style:italic;}
.tournament .single-elim.top8 .bracket .round .map {color:#ccc;padding:2px;}
.tournament .single-elim.top8 .bracket .round.round1 {left:15px;top:-25px;}
.tournament .single-elim.top8 .bracket .round.round2 {left:235px;top:45px;}
.tournament .single-elim.top8 .bracket .round.round3 {left:455px;top:185px;}
.tournament .single-elim.top8 .bracket .round.champion-label {left:675px;top:226px;color:#eee;}
.tournament .single-elim.top8 .bracket .match {position:absolute;}
.tournament .single-elim.top8 .bracket .match.round1 {left:15px;}
.tournament .single-elim.top8 .bracket .match.round1.match1 {top:31px;}
.tournament .single-elim.top8 .bracket .match.round1.match2 {top:171px;}
.tournament .single-elim.top8 .bracket .match.round1.match3 {top:311px;}
.tournament .single-elim.top8 .bracket .match.round1.match4 {top:451px;}
.tournament .single-elim.top8 .bracket .match.round2 {left:235px;}
.tournament .single-elim.top8 .bracket .match.round2.match1 {top:101px;}
.tournament .single-elim.top8 .bracket .match.round2.match2 {top:381px;}
.tournament .single-elim.top8 .bracket .match.round3.match1 {left:455px;top:241px;}
.tournament .single-elim.top8 .bracket .match.round3.match1 {left:455px;top:241px;}

.tournament .single-elim.top8 .bracket .player {width:178px;text-align:center;height:38px;}
.tournament .single-elim.top8 .bracket .player.winner {
	width:178px;text-align:center;height:38px;background:rgba(125,187,242,0.07);font-weight:bold;}
.tournament .single-elim.top8 .bracket .player.me {background:rgba(255,255,255,0.25);}
.tournament .single-elim.top8 .bracket .player .user {padding:9px 0 9px 23px;display:inline-block;}
.tournament .single-elim.top8 .bracket .player .score {float:right;padding:9px 9px 0;font-weight:bold;color:#333;}
.tournament .single-elim.top8 .bracket .finished.match .player .score {color:#ccc;}
.tournament .single-elim.top8 .bracket .player.champion {position:absolute;left:675px;top:261px;height:58px;}
.tournament .single-elim.top8 .bracket .player.champion .user {padding:16px 0;display:inline-block;font-size:17px;}
.tournament .single-elim.top8 .bracket .replays {height:22px;text-align:center;}

#fancybox-outer {
	background:#111 !important;
	-moz-box-shadow:0 0 15px #6BA1CE;
	-webkit-box-shadow:0 0 15px #6BA1CE;
	box-shadow:0 0 15px #6BA1CE;}
.light-box .box {border:1px solid #434343;}
.light-box .box-content {padding:25px;}

.profile.content-wrap,
.replays.content-wrap {width:642px;margin-top:100px;}

.profile-content,
.replays-content {width:600px;}
.profile-content h1 {background:#000;border-bottom:1px solid #222222;}
.profile-content .username{font-size:17px;color:#eee;padding:5px 10px;display:inline-block;}
.profile-content h1.extra {background:#090909 url('../img/ranks.jpg') no-repeat;}
.profile-content h1.extra .username {padding:15px 20px;}
.profile-content h1.rank1 {background-position:100% -14px;}
.profile-content h1.rank2 {background-position:100% -97px;}
.profile-content h1.rank3 {background-position:100% -180px;}
.profile-content h1.rank4 {background-position:100% -265px;}
.profile-content h1.rank5 {background-position:100% -349px;}
.profile-content h1.rank6 {background-position:100% -433px;}
.profile-content table th,
.profile-content table td {padding:7px;}
.profile-content table.info .ch_name,
.profile-content table.info .ch_code {font-size:17px;color:#eee;}
.profile-content h2,
.replays-content h2 {border-bottom:1px solid #333333;color:#636363;font-weight:bold;margin:0 7px;padding:35px 0 5px;}
.profile-content table.tournaments .rank {color:#eee;}
.profile-content table.tournaments .rank .placed1 {color:gold;text-shadow:0 0 2px gold;font-weight:bold;}
.profile-content table.tournaments .rank .placed2 {color:#DDDDDD;text-shadow:0 0 2px #DDDDDD;font-weight:bold;}
.profile-content table.tournaments .rank .placed3 {color:#CD7F32;text-shadow:0 0 2px #CD7F32;font-weight:bold;}
.profile-content .avatar {
	float:right;border:1px solid #333;padding:3px;opacity:.8;background:#050505;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;}

.replays-content h1 {background:#000;font-size:17px;padding:5px 10px;color:#eee;border-bottom:1px solid #222222;}
.replays-content h1 .tournament {color:#999999;}
.replays-content ul li.empty {color:#666666;font-size:17px;font-weight:bold;padding:40px;text-align:center;}
.replays-content .replay a {display:inline-block;padding:5px 10px;}
.replays-content .replay a:hover {background:#1C1606;}
.replays-content .upload-wrap {padding:20px 0 0;text-align:center;}
.replays-content .upload-wrap .upload-button-wrap {position:relative;height:40px;}
.replays-content .upload-wrap .upload-button-wrap .centering-wrap {position:absolute;top:0;left:0;width:100%;height:30px;}
.replays-content .upload-wrap .upload-button-display {
	height:20px;margin:0 auto;border:solid #253847;border-width:0 5px;
	background:#000;color:#7DBBF2;outline:none;font-size:17px;font-weight:bold;
	padding:5px 10px 10px;display:inline-block;}
.replays-content .upload-wrap .upload-button-display.loading {
	color: #FFD13A;background:url('../img/loading_bar.gif') repeat-x;border-color:#B29029;}
.replays-content .upload-wrap .hint {color:#777;font-size:11px;padding:5px;}

/* uploadify override */
.replays-content .uploadifyQueueItem {
	background-color:#000000;border:1px solid #333333;font-size:11px;
	margin:5px auto;padding:10px;width:386px;}
.replays-content .uploadifyProgress {background:#222;}
.replays-content .uploadifyProgressBar {background: #FFD13A;}

.replays-content .login-to-upload {background:#222222;font-size:17px;margin-top:20px;padding:10px;text-align:center;}

.replays-content .confirmed-post-wrap {display:inline-block;padding:5px;vertical-align:middle;position:relative;top:-1px;height:19px;}
.replays-content .confirmed-post-wrap span {display:inline-block;padding:0px 5px;}
.replays-content .delete-button {
	background:url('../img/cross.png') no-repeat; width:16px; height:16px; position:absolute; left:7px; top:7px;
	opacity: 0.5; cursor:pointer;}
.replays-content .delete-button:hover {opacity:1;}
.replays-content .confirmed-post-yes,
.replays-content .confirmed-post-no {font-weight:bold;}
.replays-content .replay a.loading {opacity: 0.5;}


/* cms styles */
.index #cms-news li {padding:20px 20px 40px;}
.index #cms-news li header a {font-size:17px;display:block;border-bottom:1px solid #444;margin-bottom:5px;font-weight:bold;}
.index #cms-news .empty {padding:70px; text-align:center;}
.cms-entry .details {font-weight:bold;color:#666;}
.cms-entry {line-height:1.5;}
.cms-entry .highlight {padding:20px 0; font-weight: bold;}
.cms-entry .tags {float:right; font-style: italic; color:#666;}
.cms-entry .hits {float:right; color:#666; padding:10px 0;}
#cms-entry-detail .cms-entry .meta {padding:10px;border-bottom:1px solid #444;background:rgba(0,0,0,0.2)}
#cms-entry-detail .cms-entry .box-content {padding:25px 70px;}
#cms-entry-detail .cms-entry .content {padding:0;}
#cms-entry-detail .cms-entry .back-to-index {text-align:center;clear:both;}
#cms-entry-detail .cms-entry .back-to-index a {font-weight:bold;padding:10px;}

#cms-entry-detail div img {border-width: 1px; border-style: solid; border-color: #666; width: 550px;}
#cms-entry-detail div.center {font-style: italic; color: #666; padding: 20px; text-align: center}
#cms-entry-detail h2 {font-style: normal; font-size: 24px; font-weight: bold;}
#cms-entry-detail h3 {font-style: normal; font-size: 17px; font-weight: bold; color: #666; text-shadow:0 0 2px #000;}
#cms-entry-detail h4 {font-style: normal; font-size: 17px;}
#cms-entry-detail table {font-style: normal; border-width: 1px; width: 550px; border-style: solid; border-color: #333333; margin: 0 auto;}
#cms-entry-detail table td {padding: 3px;}
#cms-entry-detail table th {padding: 3px; font-weight:bold; width: 125px;}
#cms-entry-detail p {padding: 10px 0px;}
#cms-entry-detail p.italics {font-style: italic;}
#cms-entry-detail p.question {padding: 10px 0px 5px; font-weight: bold;}
#cms-entry-detail p.answer {padding: 0px 0px 20px; font-weight: normal;}

#cms-comments {padding: 20px 70px 20px 70px; background:rgba(0,0,0,0.1);}
#cms-comments .title {text-transform: uppercase;color:#666; font-size: medium;}
#cms-comments .title .details {font-size: smaller;text-transform:none;}
#cms-comments .comment {padding: 3px 0px 15px 0px; overflow: hidden;}
