{% extends 'tms/base.html' %}

{% load i18n form_tags %}

{% block title %}{% trans "Log in" %}{% endblock %}

{% block user-bar %}
<nav>
    {% trans "Don't have an account?" %}
    <a href="{% url tms:registration %}">{% trans "Sign up" %}</a>
</nav>
{% endblock %}

{% block messages %}
    {{ block.super }}
    {% if form.non_field_errors %}
        <ul class="messages">
            <li class="error">{{ form.non_field_errors }}</li>
        </ul>
    {% endif %}
{% endblock %}

{% block content %}
<section class="login">
    <div class="box center-form clearfix">
        <div class="login-option password-login">
            <div class="box-content">
                <form id="login-form" method="post" action="">
                    {% csrf_token %}
                    <fieldset>
                        {% field form.username %}
                        {% field form.password %}
                    </fieldset>
                    <div class="submit-row">
                        <input class="button" type="submit" value="{% trans 'Log in' %}" />
                    </div>
                </form>
            </div>
        </div>
        <div class="login-option nyx-login">
            <a href="{% url tms:nyxauth:dispatch %}?{{ request.GET.urlencode }}">
                <span>Přihlásit se přes <strong>nyx</strong></span>
            </a>
        </div>
    </div>
</section>

<script type="text/javascript">
$('#login-form input[type="text"]:first').focus();
</script>
{% endblock %}
